.App {
  text-align: center;
}

p {
  font-size: 20px;
}

span {
  font-weight: 600;
  color: maroon;
}

button {
  margin-top: 12px;
  padding: 8px 40px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  background-color: black;
  cursor: pointer;
  margin: 4px 12px;
}

button:hover {
  background-color: #222;
}

button:active {
  transform: scale(0.98);
  background-color: black;
}